<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel App</title>
</head>

<body>
    <section class="home-container">
        <section class="home-image"></section>
        <section class="home-body">
          <main class="main">
            <!-- Header -->
            <header id="header">
              <span class="ease-right-expand">
                  <h1 class="color">Travel Planner</h1>
              </span>
            </header>
        
            <!-- Form -->
        
            <section id="form-section" class="section">
              <div class="form-container">
                <form class="form__content" id="form">
                  <h2 class="form-text">Plan your trip</h2>
                  <input type="text" id="input-from" name="from" placeholder="Departing"
                    autocomplete="off" required>
                  <input type="text" id="input-to" name="to" placeholder="Arriving" autocomplete="off"
                    required>
                  <input type="date" id="input-date" name="date" required>
                  <button type="submit" class="button button-submit" name="submit" value="Submit">Search</button>
                </form>
              </div>
            </section>
        
          </main>

            <!-- Modal pop-up -->
        
            <section id="result" class="result-container hidden">
              <div class="container results">
                <div class="result-image">
                  <img alt="destination image" class="pixabay">
                </div>
                <div class="result-content">
                  <h2 class="city-grid text-result">Destination: <span class="city"></span></h2>
                  <h2 class="date-grid text-result">Departing: <span class="date">DD/MM/YYYY</span></h2>
                  <h2 class="days-grid text-result">Trip starts in <span class="days"> NUM </span> days</h2>
                  <h2 class="weather-grid text-result">Weather will be <span class="weather"></span> for a high with <span
                      class="summary"></span>.</h2>
                  <!-- Change print button to BOOK for local storage-->
                  <button class="button button-print" id="print" href="#">Print</button>
                  <!-- Change delete button to SAVE for local storage -->
                  <button class="button button-save" id="delete" href="#">Delete</button>
        
                </div>
              </div>
            </section>
        </section>
      </section>
      <footer class="footer-text">&copy; Copyright LeandriB </footer>
      <section class="top-line"></section>
      <!--<section id="trip-section" class="section">
          <h2 class="trip-list-text">Trip List</h2>
          <div class="trip-container"></div>
    </section>-->
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  
</body>

</html>