<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel App</title>
</head>

<body>
    <!--<section class="top-line"></section>-->
    <section class="home-container">
        <section class="home-image"></section>
        <section class="home-body">
          <main class="main">
            <!-- Header -->
            <header>
              <span class="ease-right-expand">
                  <h1 class="color">Travel Planner</h1>
              </span>
            </header>
        
            <!-- Form -->
        
            <section id="form-section" class="section section__planner">
              <div class="form-container">
                <form class="form__content" id="form">
                  <h2 class="form-text">Plan your trip</h2>
                  <input type="text" id="input-from" name="from" placeholder="Departing"
                    autocomplete="off" required>
                  <input type="text" id="input-to" name="to" placeholder="Arriving" autocomplete="off"
                    required>
                  <input type="date" id="input-date" name="date" required>
                  <button type="submit" class="input__submit" name="submit" value="Submit">Search</button>
                </form>
              </div>
            </section>
        
          </main>

            <!-- Section Result -->
        
            <section id="result" class="result-container section__result invisible">
              <div class="container results">
                <div class="result__image">
                  <img alt="destination image" id="pixabay">
                </div>
                <div class="result__content">
    
                  <h2 class="city__name text__result">Destination: <span id="city"></span></h2>

                  <h2 class="date__name text__result">Departing: <span id="date">DD/MM/YYYY</span></h2>

                  <h2 class="days__name text__result">Trip starts in <span id="days"> NUM </span> days</h2>
        
                  <h2 class="weather__name text__result">Weather will be <span id="weather"></span> for a high, <span
                      id="summary"></span>.</h2>
                      <!-- Change print button to SAVE for local storage-->
                  <button class="button button__save" id="save" href="#">Print</button>
                  <!-- Change delete button to CANCEL -->
                  <button class="button button__delete" id="delete" href="#">Delete</button>
        
                </div>
              </div>
            </section>
        </section>


     </section>


  
</body>

</html>