header {
  margin-top: 2rem;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  z-index: 500;
  background-color:  #d55d2d8e;
}

.ease-right-expand {
  -webkit-animation: ease-right-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: ease-right-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.color {
  transition: color 0.3s ease;
}

.color:hover {
  color: $primary-color;
  cursor: default;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 45px; // BIGGEST screen 50px
  margin: 1rem 0 1rem 0rem;
  font-weight: 200;
}

h2 {
  margin-left: 2rem;
  font-weight: 200;
}

/*
* ----------------------------------------
* Animation ease-right-expand
* ----------------------------------------
*/

@-webkit-keyframes ease-right-expand {
  0% {
      letter-spacing: -0.5em;
      opacity: 0;
  }
  40% {
      opacity: 0.6;
  }
  100% {
      opacity: 1;
  }
}

@keyframes ease-right-expand {
  0% {
      letter-spacing: -0.5em;
      opacity: 0;
  }
  40% {
      opacity: 0.6;
  }
  100% {
      opacity: 1;
  }
}

// Media Queries

// Small Devices
@media only screen and (max-width: 600px) {

}

// Medium devices
@media only screen and (min-width: 768px) {

}

// Extra Large screens
@media only screen and (min-width: 1500px) {

}